input#otp {
    position: relative;
    width: 100%;
    padding: 20px;
    border: 1px solid var(--border-color);
    margin: 8px 0px; 
}

.resend-div {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}

.resend-div a {
    color: var(--primary);
    text-decoration: none;
}